body {
	background-color: #AFEEEE;
	font-family: "Lucida Sans Unicode";
	font-size: 14pt;
	color: black;
}

h1 {

	font-weight: bolder;
	text-align: center;
	font-size: 16pt;
	text-decoration: underline;
}

h2 {
	text-indent: 3em;
	font-size: 12pt;
}

h3 {
	text-align: center;
	font-size: 14pt;
}