


body {
	background-color: #F3C7FA;
	font-family: "Comic Sans";
	font-size: 20pt;
	color: grey;
	text-align: center;
}

h1 {
	border-style: double;
	border-color: grey;
	border-width: medium;
	font-weight: bold;
	font-size: 24pt;
}